.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(12, 191, 236, 0.774);
}

#showCounter {
    color: red;
    font-size: 60px;
    margin: 10px 0px;
}

.counter {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
} 

.counter:hover {
    color: white;
    background-color: blueviolet;
}