.button{
    width: 300px;
    height: 50px;
    background-color:red;
    color: black;
    border:red;
    border-radius: 50px;


}
.button1{
    width: 300px;
    height: 50px;
    background-color: green;
    color: black;
    border:red;
    border-radius: 50px;



}

#form{
    background-color: royalblue;
    display:grid;
    justify-content: center;
}